.letter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.letter_button {
  border: none;
    margin: 0;
    padding: 6px;
    width: auto;
    background: transparent;
    color: #d5bfec;
    font-size: calc(12px + 5 * (100vw - 320px) / 880);
    line-height: normal;
    transition: all .2s ease-in-out;
}

.letter_button:hover {
  transform: scale(1.4);
}
