
body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background: #9383e5;
    transition: 0.3s ease-out;
    margin: 0;
}

span {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    margin: 4px;
    flex-shrink: 0;
    /* max-height: calc(100vh - 100px); */
}

h1 {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reset-game, .seconds, .clicks {
    cursor: pointer;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    font-size: 16px;
    color: #121212;
}

.reset-game.active{
    box-shadow: 0 1px #666;
    transform: translateY(3px);
}


.game-board {
    border-radius: 3px;
    padding: 10px;
    background-color: #ccc9d1;
    box-shadow: inset 2px 2px 4px #676666, inset -2px -2px 5px #676666;
    transition: 0.3s ease-out;
}

.seconds, .clicks {
    font-size: 21px;
}

.board TR TD {
    width: 25px;
    font-size: 18px;
    font-weight: 600;
    height: 25px;
    border: 1px solid #CCC;
    background-color: #f1eaf1;
    text-align: center;
    border-radius: 3px;
    box-shadow: inset 2px 2px 4px #ffffff, inset -2px -2px 5px #676666;
}

.board tr td.clicked {
    background: rgb(181, 181, 181);
    box-shadow: none;
}

.butn-easy, .theme {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 80px;
    height: 50px; 
    font-size: 19px;
    border-radius: 7px;
    border: 0px solid white;
    background: none;
}

.menu {
    font-size: 25px;
    cursor: pointer;
}

.status {
    font-size: 19px;

}

.board tr td.bomb {
    font-size: 16px;
    background: red;
    color: red;
}

.bomb-message {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.board tr td.numberGreen {
    color: rgb(32, 173, 32);
}

.board tr td.numberBlue {
    color: blue;
}

.board tr td.numberRed {
    color: red;
}

.board tr td.numberYellow {
    color: rgb(216, 238, 23);
}

.board tr td.numberPink {
    color: rgb(255, 4, 184);
}

.board tr td.numberGold {
    color: rgb(52, 202, 179);
}

.board tr td.numberPurple {
    color: rgb(168, 10, 183);
}

.flag::before {
    content: '🚩';
    font-size: 15px;
}

body.dark-theme {
    color: #eee;
    background: #323437;
    transition: 0.3s ease-out;
}

.game-board.change {
    background-color: #626162;
    border: 3px solid white;
    transition: 0.3s ease-out;
    color: white;
}

.butn-easy.change {
    color: white;
}

.container-buttons {
    margin: 38px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.mine-count-input{
    width: 53px;
    height: 25px;
    margin-right: 9px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}

.update-mines {
    width: 60px;
    height: 30px;
}

@media (max-width: 800px) {
    .board TR TD {
        width: 18px;
        height: 18px;
        font-size: 12px;
        font-weight: 600;
        border: none;
    }  
    .board tr td.bomb {
        font-size: 10px;
    }  
    .game-board {
        border-radius: 2px;
        padding: 4px;
    }
    .board {
        margin: 0 auto;
    }


}
@media (max-width: 560px) {
    .container-buttons * {
        margin-bottom: 8px;
    }
}
