* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $dirty-white;
}

body {
  background-color: $purple;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar {
  position: fixed;
  right: 0;
  width: 27%;
  height: 100vh;
  background-color: $dark-grey;
  padding: 15px;
  z-index: 1;
}

.section__main {
  width: 73%;
  background-color: $purple;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.layout-editor {
  position: relative;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  font-size: 14px;
  padding: 4px;
  background-color: $smoke-gray;
}

.shake {
  animation: shake 0.5s;
}

.css-left {
  height: 100%;

  &_header {
    padding: 9px 13px;
    background: $light-grey;
    display: flex;
    justify-content: space-between;
  }

  &_body {
    background-color: $white;
  }
}

.html-right {
  height: 100%;
  width: 288px;

  &_header {
    padding: 9px 13px;
    background: $light-grey;
    display: flex;
    justify-content: space-between;
  }

  &_body {
    background-color: $smoke-black;
  }
}

.panel-numbers {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  line-height: 21.1px;
  padding: 5px;
  left: 0;
  top: 0;
  width: 35px;
  text-align: right;
  height: 100%;
  background: $dirty-white;
  color: $sand-grey;
}

.panel {
  position: relative;
  padding: 9px 6px 8px 45px;
  line-height: 20px;
  min-height: 305px;
  border: 1px solid $dark-blue;

  &_input {
    all: unset;
    cursor: text;
    margin-right: 10px;
  }

  &_submit {
    display: flex;
  }
}

.pnl-right {
  background-color: $smoke-black;
  border-right: 1px solid $dark-blue;
}

.btn_enter {
  transition: 0.3s ease-in;
  background-color: $grey;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 10px;

  &:hover {
    background-color: $dark-grey;
  }
}

@keyframes blink {
  0% {
    background-color: $turquoise;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: $turquoise;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  90% {
    transform: translateX(-7px);
  }
  20%,
  80% {
    transform: translateX(7px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-7px);
  }
  40%,
  60% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0);
  }
}

#panel_input {
  animation: blink 0.5s infinite;
}

@media (max-width: 1000px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .section__main {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .layout-editor {
    flex-direction: column;
  }

  .css-left {
    height: 10vh;
    overflow: hidden;
  }

  .html-right {
    width: calc(100vw - 60px);
  }

  .panel_submit {
    justify-content: space-between;
  }

  #panel_input {
    width: 100%;
  }
}
