button {
  margin: 0;
  padding: 0;
}

.container_header {
  padding: 10px 0 28px 0;
}

.btns_header {
  padding: 4px 23px;
  border-radius: 5px;
  background-color: #a0fc46;
  border: 1px solid #094014;
}