.burger-line {
  content: "";
  display: inline-block;
  position: absolute;
  border: 1px solid $black;
  width: 100%;
  top: calc(50% - 1.5px);
  left: 0;
}

.burger {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 22px;
  left: 6px;
  top: 0px;
  z-index: 2;
  transition: 0.5s ease;
  cursor: pointer;

  // &::before {
  //   content: "";
  //   display: inline-block;
  //   position: absolute;
  //   border: 1px solid $black;
  //   width: 97%;
  //   top: 0;
  //   left: 0;
  // }

  // &::after {
  //   content: "";
  //   display: inline-block;
  //   position: absolute;
  //   border: 1px solid $black;
  //   width: 96%;
  //   bottom: 0;
  //   left: 0;
  // }
}

.nav-menu {
  position: absolute;
  height: 100vh;
  right: -273px;
  top: 0;
  margin-top: 0;
  width: 273px;
  display: flex;
  flex-direction: column;
  background: $dark-grey;
  text-align: center;
  transition: 0.5s ease-out;
  list-style: none;
  z-index: 1;

  &_title {
    display: flex;
    padding: 22px 12px 5px 22px;
  }
}

.burger-line {
  content: "";
  display: inline-block;
  position: absolute;
  border: 1px solid $white;
  width: 100%;
  top: calc(50% - 1.5px);
  left: 0;
  transition: transform 0.3s ease;
}

.burger-line.line1 {
  top: calc(50% - 10.5px);
}

.burger-line.line3 {
  top: calc(50% - (-8.5px));
}


.nav-menu a {
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 5px 12px 5px 22px;
}

.nav-menu.open {
  transform: translateX(-100%);
  box-shadow: 0 0 0 9999px rgba(41, 41, 41, 0.6);
}

.burger-reverse.show {
  transform: rotate(90deg);
}

.sidebar-lvl_header__burger {
  @extend .burger;
}

@media (max-width: 1000px) {
  .nav-menu {
    position: absolute;
    height: 334px;
    right: 0;
    top: -334px;
    width: 100%;
    background: #474a53;
    overflow: scroll;
  }

  .nav-menu.open {
    transform: translateY(100%);
  }
}