.sidebar-lvl_header {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    font-size: 1.3rem;
  }
}

.levels-wrapper {
  display: flex;
  flex-direction: column;
  gap: 222px;

  &_reset {
    position: absolute;
    top: 90%;
    left: 34%;
    padding: 0px 5px;
    border-radius: 3px;
    line-height: 2rem;
    font-family: inherit;
    background-color: transparent;
    border: 2px solid $purple-grey;
    cursor: pointer;
    transition: 0.3s ease-in;
  }

  &_reset:hover {
    background-color: $grey;
  }
}

.levels {
  &_title {
    padding: 0 0 10px 0;
  }

  &_type_tag {
    font-size: 16px;
    line-height: 5rem;
    padding: 5px 15px;
    border-right: 1px solid $green;
    border-bottom: solid 1px $pink;
    border-left: 1px solid $red;
    border-top: 1px solid $blue;
  }

  &_description {
    padding: 0 0 23px 0;
    line-height: 25px;
  }

  &_example {
    padding: 0 0 10px 0;
    &_text {
      line-height: 25px;
    }
  }
}

.level_progress {
  width: 100%;
  background: $translucent-black;
  height: 2px;
  margin-bottom: 10px;
}

.progress {
  background: $green;
  width: 10%;
  height: 2px;
  position: relative;
}

.level_progress .progress:after {
  content: "";
  position: absolute;
  right: -6px;
  top: -3px;
  height: 4px;
  width: 4px;
  border: solid 2px $orange;
  background: $translucent-white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 30px;
  cursor: pointer;
}

.fa-check {
  margin-right: 7px;
}

tag {
  background-color: $dark-blue;
  padding: 1px 7px;
  font-size: 1rem;
}

tag.brackets {
  &::before {
    content: '<';
  }

  &::after {
    content: '>';
  }
}

.sidebar-lvl * {
  font-size: calc(8px + 10 * (100vw - 320px) / 880);
}

@media (max-width: 760px) {
  .sidebar-lvl * {
    font-size: 1rem;
  }
  .levels-wrapper_reset {
    top: 6%;
    left: 47%;
  }
}