.sidebar-lvl_header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.levels-wrapper {
  display: flex;
  flex-direction: column;
  gap: 222px;

  &_reset {
    position: absolute;
    top: 90%;
    left: 34%;
    padding: 0px 5px;
    border-radius: 3px;
    line-height: 2rem;
    font-family: inherit;
    background-color: transparent;
    border: 2px solid #aaa5ac;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  &_reset:hover {
    background-color: $grey;
  }
}

.levels {
  &_title {
    padding: 0 0 10px 0;
  }

  &_type_tag {
    font-size: 16px;
    line-height: 5rem;
    padding: 8px 10px;
    border: 1px solid $black;
  }

  &_description {
    padding: 0 0 23px 0;
    line-height: 25px;
  }

  &_example {
    padding: 0 0 10px 0;
  }
}

.fa-angle-left,
.fa-angle-right {
  font-size: 30px;
  cursor: pointer;
}

tag {
  background-color: $grey;
  padding: 2px 7px;
  font-size: 1rem;
}
