$dark-grey: rgb(48, 46, 48);
$purple: rgb(85, 80, 94);
$black: rgb(0, 0, 0);
$smoke-gray: rgba(0,0,0,.55);
$light-grey: rgba(0,0,0,.15);
$grey: rgb(84, 82, 84);
$dirty-white: rgb(220, 219, 219);
$smoke-black: rgb(38, 38, 38);
$white: rgb(255, 255, 255);