$dark-grey: #8294C4;
$purple: #5d3c89;
$black: #000000;
$smoke-gray: rgba(0, 0, 0, 0.549);
$light-grey: rgba(0, 0, 0, 0.149);
$grey: #545254;
$dirty-white: #dcdbdb;
$smoke-black: #1e1e22;
$white: #ffffff;
$dark-blue: #495258;
$turquoise: #8fefef;
$sand-grey: #666;
$navy-blue: #474a53;
$purple-grey: #aaa5ac;
$orange: #482c15;
$translucent-white: rgba(255,255,255,.5);
$translucent-black: rgba(0,0,0,.4);
$green: #5aff4d;
$pink: rgb(241 86 255);
$red: #ff0000;
$blue: #544cfe;
