$dark-grey: #8294C4;
$purple: #5d3c89;
$black: #000000;
$smoke-gray: rgba(0, 0, 0, 0.549);
$light-grey: rgba(0, 0, 0, 0.149);
$grey: #545254;
$dirty-white: #dcdbdb;
$smoke-black: #1e1e22;
$white: #ffffff;
$dark-blue: #495258;
$turquoise: #8fefef;
$sand-grey: #666;
$navy-blue: #474a53;
$purple-grey: #aaa5ac;