amy {
  background-image: url('~assets/img/amy.png');
  background-size: 100% 100%;
  display: flex;
  height: 150px;
  width: 128px;
  transform: scaleX(-1);
  position: relative;
}

fry {
  background-image: url('~assets/img/fry.png');
  background-size: 100% 100%;
  display: flex;
  height: 150px;
  width: 61px;
}

angel {
  background-image: url('~assets/img/angel.png');
  background-size: 100% 100%;
  display: flex;
  height: 156px;
  width: 115px;
}

bender {
  background-image: url('~assets/img/bender.png');
  background-size: 100% 100%;
  display: flex;
  height: 150px;
  width: 84px;
}

dog {
  background-image: url('~assets/img/dog.png');
  background-size: 100% 100%;
  display: flex;
  height: 70px;
  width: 77px;
  margin: 0 7px;
}

freak {
  background-image: url('~assets/img/freak.png');
  background-size: 100% 100%;
  display: flex;
  height: 82px;
  width: 44px;
}

richard {
  background-image: url('~assets/img/richard.png');
  background-size: 100% 100%;
  display: block;
  // transform: rotate(15deg);
  height: 51px;
  width: 49px;
}

robot {
  background-image: url('~assets/img/robot.png');
  background-size: 100% 100%;
  display: flex;
  height: 150px;
  width: 91px;
}

zoidberg {
  background-image: url('~assets/img/zoidberg.png');
  background-size: 100% 100%;
  display: flex;
  height: 79px;
  width: 80px;
}

benderDrink {
  background-image: url('~assets/img/benderDrink.png');
  background-size: 100% 100%;
  transform: scaleX(-1);
  height: 175px;
  width: 111px;
}

beer {
  background-image: url('~assets/img/beer.png');
  background-size: 100% 100%;
  display: block;
  height: 66px;
  width: 80px;
  position: relative;
  top: 53px;
  right: -61px;
}

frog {
  background-image: url('~assets/img/frog.png');
  background-size: 100% 100%;
  height: 112px;
  width: 127px;
}

hat {
  background-image: url('~assets/img/hat.png');
  top: -17px;
  left: 33px;
  display: block;
  background-size: 100% 100%;
  height: 41px;
  position: relative;
  width: 67px;
}

hat2 {
  background-image: url('~assets/img/hat2.png');
  top: -27px;
  left: 38px;
  display: block;
  background-size: 100% 100%;
  height: 67px;
  position: relative;
  width: 56px;
}

hat3 {
  background-image: url('~assets/img/hat3.png');
  left: 38px;
  top: -29px;
  display: block;
  background-size: 100% 100%;
  height: 71px;
  position: relative;
  width: 57px;
}

professor {
  background-image: url('~assets/img/professor.png');
  background-size: 100% 100%;
  transform: scaleX(-1);
  height: 158px;
  width: 111px;
}

professor richard {
  position: relative;
  top: 54px;
  left: 44px;
}

.black {
  background-image: url('~assets/img/hat-black.png');
  left: 38px;
  top: -29px;
  display: block;
  background-size: 100% 100%;
  height: 71px;
  position: relative;
  width: 57px;
}

.hovered {
  box-shadow: rgba(255, 255, 255, 0.65) 0px 5px 25px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
}

div.hovered-code {
  text-shadow: 2px 2px 3px $green;
}

.animated {
  animation: move 1.4s infinite;
}

.image-element {
  position: absolute;
  animation-name: fly-out;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.small {
  top: -13px;
  left: 7px;
  height: 31px;
  width: 41px;
}

#small {
  height: 90px;
  width: 61px;
}

.tooltip {
  position: absolute;
  background-color: $dark-grey;
  color: $white;
  padding: 3px;
  border-radius: 8px;
  visibility: hidden;
  font-size: 14px;
}

.tooltip::after {
  content: "▼";
  position: absolute;
  top: -72%;
  color: $dark-grey;
  left: 31%;
  transform: scale(1, 0.8) translate(-104%, 9%) rotate(58deg);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}
