amy {
  background-image: url('~assets/img/amy.png');
  background-size: 100% 100%;
  height: 150px;
  width: 155px;
}

fry {
  background-image: url('~assets/img/fry.png');
  background-size: 100% 100%;
  height: 150px;
  width: 61px;
}

angel {
  background-image: url('~assets/img/angel.png');
  background-size: 100% 100%;
  height: 150px;
  width: 61px;
}

bender {
  background-image: url('~assets/img/bender.png');
  background-size: 100% 100%;
  height: 150px;
  width: 61px;
}

dog {
  background-image: url('~assets/img/dog.png');
  background-size: 100% 100%;
  height: 70px;
  width: 41px;
}

freak {
  background-image: url('~assets/img/freak.png');
  background-size: 100% 100%;
  height: 100px;
  width: 44px;
}

richard {
  background-image: url('~assets/img/richard.png');
  background-size: 100% 100%;
  height: 80px;
  width: 61px;
}

robot {
  background-image: url('~assets/img/robot.png');
  background-size: 100% 100%;
  height: 150px;
  width: 61px;
}

zoidberg {
  background-image: url('~assets/img/zoidberg.png');
  background-size: 100% 100%;
  height: 110px;
  width: 80px;
}

.animated {
  animation: move 1.5s infinite;
}